body {
    background-color:#F5E36F;
    min-height:100vh;
}

.main {
    background-color:#E3DAA2;
    border-radius:10px;
    padding:20px;
    border:2px solid #D3BB21;
    text-align:center;
    width:650px;
}

.devour {
    border-radius:50px;
}

.devoured {
    border-radius:50px;
    color:lightgray;
}